body {background-color: #F8E7EF;}

#logo1{
    width: 40%;
    padding: 1px;
    transform: scaleX(-1);
    float:left;
    margin-left: 50px;

}

.bar{
height: 2px;
background-color: black;
margin-top: 1px; 
}

.header{
    display: flex;
    align-items: center;
}

.logo-container{
    display: flex;
    align-items: center;
    color: #FD5E5F;
    


}

nav {
    position: relative;
    top: 50%;
    text-align: right;
    margin-left: auto;
}


nav a{
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 30px;
    margin-right: 30px;
}

.forside{
   display: flex; 
}

#Info {
    color: black;
    font-size: 24px;
    text-align: left;
    float: left;
    width: 50%;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
    background-color: transparent;
    width: 700px;
    height: 600px;
    padding: 20px;
    line-height: 10px;
}

.Overskrift{
    color: rgb(255, 255, 255);
}

#Dato {
    color:black;
    font-size: 24px;
    text-align: left;
    width: 50%;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: -20px;
    background-color: transparent;
    padding: 20px;
    line-height: 30px;
}

#lokation1{
    float:left;
    margin-left: 250px;
    margin-top: -350px;
    width: 50%;
}

#prisskilt{
    margin-left: 350px;
    margin-top: -200px;
    width: 50%;
}

#open {
    margin-left: 75px;
    margin-top: -25px;
    width: 95%;
}

.info2 {
    text-align: left;
    float: right;
    color: black;
    margin-top: -640px;
    margin-right: -1000px;
    width: 750px;
    height: 750px;
    line-height: 35px;
    }

.Info{
    width: 1905px;
    height: 800px;
    background-color: #ccbfea
    ;
}
.info3{
    text-align: left;
    float: right;
    color: black;
    margin-top: -240px;
    margin-right: -1000px;
}
